In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import itertools
from statistical_functions import test_is_I1, test_is_tradable
import matplotlib.pyplot as plt

C:\Users\andy5\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

# Preprocess

In [118]:
data = pd.read_csv("ec_data.csv")
data.date = data.date.apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
data['year'] = data.date.apply(lambda x: x.year)
data['month'] = data.date.apply(lambda x: x.month)
data['week'] = data.date.apply(lambda x: x.week)
data['dayofweek'] = data.date.apply(lambda x: x.dayofweek)
data.sort_values('date', inplace=True)
data.head()

,code,name,industry_code,industry,date,price,year,month,week,dayofweek
0,1471,首利,M23D,電子零組件,2000-01-04,8.98,2000,1,1,1
16,2492,華新科,M23D,電子零組件,2000-01-04,35.06,2000,1,1,1
15,2484,希華,M23D,電子零組件,2000-01-04,23.85,2000,1,1,1
14,2483,百容,M23D,電子零組件,2000-01-04,15.29,2000,1,1,1
13,2478,大毅,M23D,電子零組件,2000-01-04,12.86,2000,1,1,1

In [154]:
# create possible pairs
possible_pairs = list(
    itertools.combinations(data.code.unique(), 2)
)

# create trading time frame
timeframe = data[['year', 'month', 'week']].drop_duplicates()
timeframe.reset_index(drop=True, inplace=True)

In [150]:
# initial part
trailing_windows = 52
initial_step = 0

In [171]:
# trailing part
current_step = trailing_windows

timeframe_for_model = timeframe.iloc[initial_step: current_step]

data_for_model = data[
    (data.year >= timeframe_for_model.year.iloc[0]) &
    (data.week >= timeframe_for_model.week.iloc[0]) &
    (data.year <= timeframe_for_model.year.iloc[-1]) &
    (data.week >= timeframe_for_model.week.iloc[-1])
]

possible_pairs = list(
    itertools.combinations(data_for_model.code.unique(), 2)
)